<header class="header">
  <div class="container flex flex--jc-c">
    <h1 class="logo">Monolithic App</h1>
  </div>
</header>
<main class="main">
  <div class="container">
    <div class="card flex flex--jc-sb" *ngFor="let item of list">
      <div class="p">
        {{ item.task }}
      </div>
      <div class="x"><strong>×</strong></div>
    </div>
  </div>
</main>
<footer class="footer">
  <form class="container flex form">
    <label for="new-item">NEW</label>
    <input type="text" name="new-item" id="new-item" placeholder="Add a new task to to-do list above."/>
    <input type="submit" value="{{ submitButtonText }}" />
  </form>
</footer>
