/**
 * _config.scss
 */
$primary-background-color: #18b;
$secondary-background-color: #129;
$tertiary-background-color: #16a;
$shadow-color: #220;
$gold-color: #fd9;
$primary-text-color: #ffe;
$secondary-text-color: #135;
/** */

/**
 * _utilities.scss
 */
.container {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  align-content: center;
  &--jc-c {
    justify-content: center;
  }
  &--jc-sb {
    justify-content: space-between;
  }
}

.card {
  padding: 1rem 1.25rem;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 1rem rgba($shadow-color, 0.5);
  background: $tertiary-background-color;
}

/** */

/**
 * _header.scss
 */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  color: $gold-color;
  background: $primary-background-color;
  background-image: linear-gradient(
    to bottom,
    $primary-background-color,
    $tertiary-background-color
  );
  box-shadow: 0 0.5rem 1rem rgba($shadow-color, 0.333);
}
/** */

/**
 * _main.css
 */
.main {
  background: $secondary-background-color;
  /** `height` should be 100% minus `
    * .header` and `.footer` `height` (180px).
    */
  height: calc(100% - 180px);
  padding: 1rem;
}

/** */

/**
 * _footer.scss
 */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: $primary-background-color;
  background-image: linear-gradient(
    to top,
    $primary-background-color,
    $tertiary-background-color
  );
  box-shadow: 0 -0.5rem 1rem rgba($shadow-color, 0.333);
}
.form {
  height: 100%;
  width: 100%;
  padding: 2rem;
  label[for="new-item"] {
    font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 500;
    color: $gold-color;
    font-size: 1.75rem;
  }
  input[name="new-item"] {
    padding: 0.5rem 1rem;
    background: $primary-text-color;
    color: $secondary-text-color;
    border-radius: 5px;
    width: 100%;
    margin: 1.75rem;
  }
  input[type="submit"] {
    padding: 0.75rem 1.25rem;
    background: $secondary-text-color;
    color: $gold-color;
    border-radius: 5px;
    border: none;
  }
}
/** */
