@import "../../../../02-single-responsibility/styles/config", "../../../../02-single-responsibility/styles/utilities";

/**
 * _original-content.scss
 */
:host {
  background: $secondary-background-color;
  /** `height` should be 100% minus `
    * .header` `height` (90px).
    */
  height: calc(50% - 90px);
  padding: 1rem;
}
button.x {
  border-radius: 5px;
  border: none;
  background: $gold-color;
  color: $secondary-text-color;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 80%;
    transform: scale(90%);
  }
}
/** */
