/**
 * _config.scss
 */
$primary-background-color: #18b;
$secondary-background-color: #129;
$tertiary-background-color: #16a;
$shadow-color: #220;
$gold-color: #fd9;
$primary-text-color: #ffe;
$secondary-text-color: #135;
/** */
